_/
/bin/
/obj/
\#*\#
.*
!.git*
*~
*.bak
*.swo
*.swp
*.o
*.so
*.gch
*.out
*.jar
*.class
[A-Z]*.h
*.install
*.tar
*.gz
*.bz2
*.xz
*.info
*.pdf
*.ps
*.dvi
*.aux
*.cp
*.fn
*.ky
*.log
*.pg
*.toc
*.tp
*.vr

